## Python variables and data type

In [3]:
# string
name = 'Alice'
company = 'XYZ'
print("String Example")
print(f"name :{name}")
print(f"company:{company}")
print(f"Type of Name: {type(name)}")

String Example
name :Alice
company:XYZ
Type of Name: <class 'str'>

In [6]:
# integer variable
age = 25
year = 2025
number = 23
print(age)
print(year)
print(number)
print(f"type of age:{type(age)}")

25
2025
23
type of age:<class 'int'>

In [7]:
#float variable
height = 5.7
weight = 50.8
temperature = 10.8
pi = 3.14
print("Float Examples")
print(height)
print(weight)
print(temperature)
print(pi)
print(f"Type of pi:{type(pi)}")

Float Examples
5.7
50.8
10.8
3.14
Type of pi:<class 'float'>

In [8]:
#Boolean variables 
is_student = True
is_employeed = False
print(is_student)
print(is_employeed)
print(f"TYpe of student:{type(is_student)}")

True
False
TYpe of student:<class 'bool'>

## Data type conversion

In [9]:
num_int = 10
num_float = 5.6
result = num_int + num_float # int promoted to flaot
result

15.6

In [ ]:
# str to other type
str_num = "1234"
str_float ="46.345"
str_bool = "True"
prinr(f"string '1234' to int:{int(str_num)}")
prinr(f"string '46.345' to int:{int(str_num)}")